<%- include('partials/header') %>

    <div class="card">
        <h3>Written in the Stars</h3>
        <br>
        <h5>What is astrology?</h5>
        <p>
            "Astrology is the study of the influence that distant cosmic objects, usually stars and planets, have on
            human lives. The position of the sun, stars, moon and planets at the time of people's birth (not their
            conception) is said to shape their personality, affect their romantic relationships and predict their
            economic fortunes, among other divinations.
            <br>
            <br>
            What most people know about astrology is their "sign" which refers to one of the 12 constellations of the
            zodiac. This is a form of sun-sign astrology, which is the astrology upon which newspaper horoscopes are
            based."
            <br>
            <br>
            <a href="https://entertainment.howstuffworks.com/horoscopes-astrology/question749.htm" target="_blank">(Ed Grabianowski)</a>
        </p>
    </div>

    <%- include('partials/footer') %>