<%- include('../partials/header') %>

    <div class="card">
        <h3>Aquarius</h3>
        <p>
            <b>Element:</b> Air, Fixed
            <br>
            <b>Dates:</b> January 20 - February 18
            <br>
            <br>
            <b>Strengths:</b> Progressive, original, independent, humanitarian
            <br>
            <br>
            <b>Weaknesses:</b> Runs from emotional expression, temperamental, uncompromising, aloof
            <br>
            <br>
            <b>Likes:</b> Fun with friends, helping others, fighting for causes, intellectual conversation, a good
            listener
            <br>
            <br>
            <b>Dislikes:</b> Limitations, broken promises, being lonely, dull or boring situations, people who disagree
            with them
            <br>
            <br>
            <a href="https://www.astrology-zodiac-signs.com/zodiac-signs/aquarius/" target="_blank">(source)</a>
        </p>
    </div>


    <div class="card">
        <h3>Pisces</h3>
        <p>
            <b>Element:</b> Water, Mutable
            <br>
            <b>Dates:</b> February 19 - March 20
            <br>
            <br>
            <b>Strengths:</b> Compassionate, artistic, intuitive, gentle, wise, musical
            <br>
            <br>
            <b>Weaknesses:</b> Fearful, overly trusting, sad, desire to escape reality, can be a victim or a martyr
            <br>
            <br>
            <b>Likes:</b> Being alone, sleeping, music, romance, visual media, swimming, spiritual themes
            <br>
            <br>
            <b>Dislikes:</b> Know-it-all, being criticized, the past coming back to haunt, cruelty of any kind
            <br>
            <br>
            <a href="https://www.astrology-zodiac-signs.com/zodiac-signs/pisces/" target="_blank">(source)</a>
        </p>
    </div>

    <div class="card">
        <h3>Aries</h3>
        <p>
            <b>Element:</b> Fire, Cardinal
            <br>
            <b>Dates:</b> March 21 - April 19
            <br>
            <br>
            <b>Strengths:</b> Courageous, determined, confident, enthusiastic, optimistic, honest, passionate
            <br>
            <br>
            <b>Weaknesses:</b> Impatient, moody, short-tempered, impulsive, aggressive
            <br>
            <br>
            <b>Likes:</b> Comfortable clothes, taking on leadership roles, physical challenges, individual sports
            <br>
            <br>
            <b>Dislikes:</b> Inactivity, delays, work that does not use one's talents
            <br>
            <br>
            <a href="https://www.astrology-zodiac-signs.com/zodiac-signs/aries/" target="_blank">(source)</a>
        </p>
    </div>

    <div class="card">
        <h3>Taurus</h3>
        <p>
            <b>Element:</b> Earth, Fixed
            <br>
            <b>Dates:</b> April 20 - May 20
            <br>
            <br>
            <b>Strengths:</b> Reliable, patient, practical, devoted, responsible, stable
            <br>
            <br>
            <b>Weaknesses:</b> Stubborn, possessive, uncompromising
            <br>
            <br>
            <b>Likes:</b> Gardening, cooking, music, romance, high quality clothes, working with hands
            <br>
            <br>
            <b>Dislikes:</b> Sudden changes, complications, insecurity of any kind, synthetic fabrics
            <br>
            <br>
            <a href="https://www.astrology-zodiac-signs.com/zodiac-signs/taurus/" target="_blank">(source)</a>
        </p>
    </div>

    <div class="card">
        <h3>Gemini</h3>
        <p>
            <b>Element:</b> Air, Mutable
            <br>
            <b>Dates:</b> May 21 - June 20
            <br>
            <br>
            <b>Strengths:</b> Gentle, affectionate, curious, adaptable, ability to learn quickly and exchange ideas
            <br>
            <br>
            <b>Weaknesses:</b> Nervous, inconsistent, indecisive
            <br>
            <br>
            <b>Likes:</b> Music, books, magazines, chats with nearly anyone, short trips around the town
            <br>
            <br>
            <b>Dislikes:</b> Being alone, being confined, repetition and routine
            <br>
            <br>
            <a href="https://www.astrology-zodiac-signs.com/zodiac-signs/gemini/" target="_blank">(source)</a>
        </p>
    </div>

    <div class="card">
        <h3>Cancer</h3>
        <p>
            <b>Element:</b> Water, Cardinal
            <br>
            <b>Dates:</b> June 21 - July 22
            <br>
            <br>
            <b>Strengths:</b> Tenacious, highly imaginative, loyal, emotional, sympathetic, persuasive
            <br>
            <br>
            <b>Weaknesses:</b> Moody, pessimistic, suspicious, manipulative, insecure
            <br>
            <br>
            <b>Likes:</b> Art, home-based hobbies, relaxing near or in water, helping loved ones, a good meal with
            friends
            <br>
            <br>
            <b>Dislikes:</b> Strangers, any criticism of Mom, revealing of personal life
            <br>
            <br>
            <a href="https://www.astrology-zodiac-signs.com/zodiac-signs/cancer/ target=" _blank">(source)</a>
        </p>
    </div>

    <div class="card">
        <h3>Leo</h3>
        <p>
            <b>Element:</b> Fire, Fixed
            <br>
            <b>Dates:</b> July 23 - August 22
            <br>
            <br>
            <b>Strengths:</b> PCreative, passionate, generous, warm-hearted, cheerful, humorous
            <br>
            <br>
            <b>Weaknesses:</b> Arrogant, stubborn, self-centered, lazy, inflexible
            <br>
            <br>
            <b>Likes:</b> Theater, taking holidays, being admired, expensive things, bright colors, fun with friends
            <br>
            <br>
            <b>Dislikes:</b> Being ignored, facing difficult reality, not being treated like a king or queen
            <br>
            <br>
            <a href="https://www.astrology-zodiac-signs.com/zodiac-signs/leo/" target="_blank">(source)</a>
        </p>
    </div>

    <div class="card">
        <h3>Virgo</h3>
        <p>
            <b>Element:</b> Earth, Mutable
            <br>
            <b>Dates:</b> August 23 - September 22
            <br>
            <br>
            <b>Strengths:</b> Loyal, analytical, kind, hardworking, practical
            <br>
            <br>
            <b>Weaknesses:</b> Shyness, worry, overly critical of self and others, all work and no play
            <br>
            <br>
            <b>Likes:</b> Animals, healthy food, books, nature, cleanliness
            <br>
            <br>
            <b>Dislikes:</b> Rudeness, asking for help, taking center stage
            <br>
            <br>
            <a href="https://www.astrology-zodiac-signs.com/zodiac-signs/virgo/ target=" _blank">(source)</a>
        </p>
    </div>

    <div class="card">
        <h3>Libra</h3>
        <p>
            <b>Element:</b> Air, Cardinal
            <br>
            <b>Dates:</b> September 23 - October 22
            <br>
            <br>
            <b>Strengths:</b> Cooperative,diplomatic, gracious, fair-minded, social
            <br>
            <br>
            <b>Weaknesses:</b> Indecisive, avoids confrontations, will carry a grudge, self-pity
            <br>
            <br>
            <b>Likes:</b> Harmony, gentleness, sharing with others, the outdoors
            <br>
            <br>
            <b>Dislikes:</b> Violence, injustice, loudmouths, conformity
            <br>
            <br>
            <a href="https://www.astrology-zodiac-signs.com/zodiac-signs/libra/" target="_blank">(source)</a>
        </p>
    </div>

    <div class="card">
        <h3>Scorpio</h3>
        <p>
            <b>Element:</b> Water, Fixed
            <br>
            <b>Dates:</b> October 23 - November 21
            <br>
            <br>
            <b>Strengths:</b> Resourceful, brave, passionate, stubborn, a true friend
            <br>
            <br>
            <b>Weaknesses:</b> Distrusting, jealous, secretive, violent
            <br>
            <br>
            <b>Likes:</b> Truth, facts, being right, longtime friends, teasing, a grand passion
            <br>
            <br>
            <b>Dislikes:</b> Dishonesty, revealing secrets, passive people
            <br>
            <br>
            <a href="https://www.astrology-zodiac-signs.com/zodiac-signs/scorpio/" target="_blank">(source)</a>
        </p>
    </div>

    <div class="card">
        <h3>Sagittarius</h3>
        <p>
            <b>Element:</b> Fire, Mutable
            <br>
            <b>Dates:</b> November 22 - December 21
            <br>
            <br>
            <b>Strengths:</b> Generous, idealistic, great sense of humor
            <br>
            <br>
            <b>Weaknesses:</b> Promises more than can deliver, very impatient, will say anything no matter how
            undiplomatic
            <br>
            <br>
            <b>Likes:</b> Freedom, travel, philosophy, being outdoors
            <br>
            <br>
            <b>Dislikes:</b> Clingy people, being constrained, off-the-wall theories, details
            <br>
            <br>
            <a href="https://www.astrology-zodiac-signs.com/zodiac-signs/sagittarius/" target="_blank">(source)</a>
        </p>
    </div>

    <div class="card">
        <h3>Capricorn</h3>
        <p>
            <b>Element:</b> Earth, Cardinal
            <br>
            <b>Dates:</b> December 22 - January 19
            <br>
            <br>
            <b>Strengths:</b> Responsible, disciplined, self-control, good managers
            <br>
            <br>
            <b>Weaknesses:</b> Know-it-all, unforgiving, condescending, expecting the worst
            <br>
            <br>
            <b>Likes:</b> Family, tradition, music, understated status, quality craftsmanship
            <br>
            <br>
            <b>Dislikes:</b> Almost everything at some point
            <br>
            <br>
            <a href="https://www.astrology-zodiac-signs.com/zodiac-signs/capricorn/" target="_blank">(source)</a>
        </p>
    </div>

    </section>

    <%- include('../partials/footer') %>